body {
    background-color: rgb(245, 245, 245);
}

.custom-form-control {
    background-color: black !important;
    color: #fff;
}


/* .container1 {
    width: 100%;
    padding-left: 10%;
    padding-right: 20%;
} */


/* .submit-btn {
    padding: 10px 50px;
    background: green;
    color: #fff;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: aqua;
} */